<?xml version="1.0" encoding="utf-8"?>
<!-- Makes AOSP ImsStack the device's ImsService (MMTEL and RCS): ImsResolver
     reads config_ims_mmtel_package and config_ims_rcs_package from
     com.android.phone. Also admits RTT on the device (config_support_rtt).
     A ROM build sets these in its device overlay (upstream/AOSP-IMS.md). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.imsstack.rro.phone"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="35" android:targetSdkVersion="35" />
    <application android:hasCode="false" />
    <overlay android:targetPackage="com.android.phone"
        android:priority="3"
        android:isStatic="true" />
</manifest>
