<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.joan.ims"
    android:versionCode="2"
    android:versionName="0.2">
    <uses-permission android:name="android.permission.BIND_IMS_SERVICE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CONNECTIVITY_USE_RESTRICTED_NETWORKS" />
    <application
        android:label="Joan IMS"
        android:directBootAware="true"
        android:persistent="true">
        <service
            android:name=".JoanImsService"
            android:exported="true"
            android:permission="android.permission.BIND_IMS_SERVICE">
            <intent-filter>
                <action android:name="android.telephony.ims.ImsService" />
            </intent-filter>
            <meta-data android:name="android.telephony.ims.MMTEL_FEATURE" android:value="true" />
            <meta-data android:name="android.telephony.ims.EMERGENCY_MMTEL_FEATURE" android:value="true" />
        </service>
    </application>
</manifest>
