<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.joan.ims.overlay">
    <uses-sdk android:minSdkVersion="35" android:targetSdkVersion="35" />
    <overlay
        android:targetPackage="com.android.phone"
        android:isStatic="true"
        android:priority="99" />
    <application android:hasCode="false" android:label="JoanImsOverlay" />
</manifest>
